<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="users">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d %p %marker %m %X %ex %n}" disableAnsi="false"/>
        </Console>
        <Socket name="logstash" host="d463ee00-503e-4c43-827c-f92fcb4f1cc5-ls.logit.io"
                port="10654" protocol="udp">
            <JSONLayout complete="false" compact="true" eventEol="true" charset="UTF-8" properties="true">
                <KeyValuePair key="environmentType" value="${map:environmentType}" />
                <KeyValuePair key="applicationName" value="${map:applicationName}" />
                <KeyValuePair key="applicationVersion" value="${map:applicationVersion}" />
                <KeyValuePair key="uniqueInstanceId" value="${map:uniqueInstanceId}" />
                <KeyValuePair key="uniqueRequestId" value="${map:uniqueRequestId}" />
                <KeyValuePair key="requestUri" value="${map:requestUri}" />
                <KeyValuePair key="method" value="${map:method}" />
                <KeyValuePair key="markerName" value="${map:markerName}" />
            </JSONLayout>
        </Socket>
    </Appenders>
    <Loggers>
        <!-- Default logger -->
        <Root level="all">
            <AppenderRef ref="console" level="info" />
            <AppenderRef ref="logstash" level="info" />
        </Root>
    </Loggers>
</Configuration>